:host {
  width: 100%;
}

.menu {
  background: #116466;
  display: flex;
  padding: 20px 15px;
  color: #FEFEFE;
  font-size: 16px;
  user-select: none;

  &--item {
    position: relative;
    padding: 6px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 14px;

    &:hover {
      &:before,
      &:after {
        opacity: 1;
      }
    }

    &:before {
      content: '^.';
      left: 10px;
      top: -14px;
      font-size: 20px;
      position: absolute;
      display: block;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &:after {
      content: '^';
      left: 28px;
      top: -14px;
      font-size: 20px;
      position: absolute;
      display: block;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &_active {
      &:before,
      &:after {
        opacity: 1;
      }
      //background-color: bisque;
    }
  }

}
